{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  a{
    margin: 5px;
  }
</style>
<div style="width: 80%; margin: auto;">
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">task title</th>
        <th scope="col">task discreption</th>
        <th scope="col">Status</th>
        <th scope="col" >Action</th>
      </tr>
    </thead>
    <tbody>
    
     {% for s in show %}
     {% if not s.is_completed %}
      <tr>
        <th>{{s.id}}</th>
        <td>{{s.taskTitle}}</td>
        <td>{{s.taskDescription}}</td>
        <td>incompleted</td>
        <td><a class="btn btn-danger"  href="{% url 'deletetask' id=s.id%}">delete</a><a class="btn btn-primary" href="{%url 'edittask' id=s.id%}">edit</a><a class="btn btn-success"  href="{% url 'completed' id=s.id%}">completed</a></td>
      </tr> 
      {% endif %}
      {% endfor %}
    
    </tbody>
  </table>
</div>
{% endblock %}